<nav class="navbar navbar-expand-lg" style="background-color: #617fb7;top: 0px;">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><img src="../../assets/logos/nttLogoBlue.PNG" alt="" style="width:255px;height:55px"></a>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto">
         <li class="navbar-item active">
           <a class="nav-link" routerLink="/apparel" style="font-weight:550;">Apparel</a>
         </li>
         <li class="navbar-item active">
          <a class="nav-link" routerLink="/accessory" style="font-weight:550;">Accessories</a>
        </li>
        <li class="navbar-item active">
          <a class="nav-link" routerLink="/promo" style="font-weight:550;">Promos</a>
        </li>
        <li class="navbar-item active">
          <a class="nav-link" routerLink="/sale" style="font-weight:550;">On Sale</a>
        </li>
        <li class="navbar-item form-group">
          <input type="text" class="form-control" placeholder="search products">
        </li>
       </ul>
     </div>
     <div *ngIf="isAuthenticated">
      <img class="navbar-item border border-dark btn rounded-circle" src="../../assets/logos/erling.webp" alt="Profile" style="width:60px;height:60px;" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span (click)="navigateTo('https://myaccount.microsoft.com/?ref=MeControl')">
            <img width="17" height="17" src="../../assets/logos/proIcon.png" style="opacity: .7;">
            My Profile
          </span>
        </button>
        <button mat-menu-item>
          <span (click)="navigateTo('/cart')">
            <img width="17" height="17" src="../../assets/logos/cart.png" style="opacity: .7;">
            View Cart
            <div style="font-size: 11px;" class="badge bg-danger">0</div>
          </span>
        </button>
        <button mat-menu-item>
          <span (click)="navigateTo('/orders')">
            <img width="17" height="17" src="../../assets/logos/orderHistory.png" style="opacity: .7;">
            Order History
          </span>
        </button>
        <button mat-menu-item>
          <span (click)="navigateTo('/policy')">
            <img width="17" height="17" src="../../assets/logos/info.png" style="opacity: .7;">
            Policies & FAQ
          </span>
        </button>
        <button mat-menu-item (click)="navigateTo('/login')">
          <span>
            <img width="17" height="17" src="../../assets/logos/logoutIcon.png" style="opacity: .7;">
            Logout
          </span>
        </button>
      </mat-menu>
      </div>
      <button *ngIf="!isAuthenticated" routerLink="/login">Login</button>
  </div>
</nav>