<body>
<div class="mainPage">
    <app-nav></app-nav>
    <div class="p-3 m-0" style="text-align: center;">
        <div *ngIf="apparelString === ''" class="container">
            <h1>Apparel</h1>
            <div class="row m-4">
                <div class="col-sm" ng-app="app-apparel">
                    <p>Men's</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectMen()" src="../../assets/imageRoutes/maApp.png" style="height:350px;width:200px;background-color: white;">
                    </div>
                </div>
                <div class="col-sm">
                    <p>Women's</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectWomen()" src="../../assets/imageRoutes/fmApp.png" style="height:350px;width:200px;background-color: white;">
                    </div>
                </div>
                <div class="col-sm">
                    <p>Neutral & Pride</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectPride()" src="../../assets/imageRoutes/nttPride.jfif" style="height:350px;width:200px;">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="apparelString === 'men'" class="container">
            <h1>Men's Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <div class="row justify-content-center">
                    <div *ngFor="let entry of products" class="card col-sm-3 m-0">
                        <img class="card-img-top" src="{{entry.image}}" alt="{{entry.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{entry.title}}</h5>
                            <p class="card-text">{{entry.price}}</p>
                            <a class="btn btn-primary" style="background-color: #617fb7; color: white;border: none;">
                                Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="apparelString === 'women'" class="container">
            <h1>Women's Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <div class="row justify-content-center">
                    <div *ngFor="let entry of products" class="card col-sm-3 m-0">
                        <img class="card-img-top" src="{{entry.image}}" alt="{{entry.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{entry.title}}</h5>
                            <p class="card-text">{{entry.price}}</p>
                            <a class="btn btn-primary" style="background-color: #617fb7; color: white;border: none;">
                                Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="apparelString === 'neutral'" class="container">
            <h1>Neutral & Pride Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <div class="row justify-content-center">
                    <div *ngFor="let entry of products" class="card col-sm-3 m-0">
                        <img class="card-img-top" src="{{entry.image}}" alt="{{entry.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{entry.title}}</h5>
                            <p class="card-text">{{entry.price}}</p>
                            <a class="btn btn-primary" style="background-color: #617fb7; color: white;border: none;">
                                Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>