<div class="mainPage">
    <app-nav></app-nav>
    <div class="p-3 m-0" style="text-align: center;">
        <div *ngIf="apparelString === ''" class="container">
            <h1>Apparel</h1>
            <div class="row m-4">
                <div class="col-sm" ng-app="app-apparel">
                    <p>Men's</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectMen()" src="../../assets/imageRoutes/maApp.png" style="height:350px;width:200px;background-color:rgb(165, 227, 146);">
                    </div>
                </div>
                <div class="col-sm">
                    <p>Women's</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectWomen()" src="../../assets/imageRoutes/fmApp.png" style="height:350px;width:200px;background-color: rgb(196, 135, 231);">
                    </div>
                </div>
                <div class="col-sm">
                    <p>Neutral & Pride</p>
                    <div class="hovShadow rounded">
                        <img type="button" class="border border-secondary rounded" (click)="onSelectPride()" src="../../assets/imageRoutes/nttPride.jfif" style="height:350px;width:200px;">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="apparelString === 'men'" class="container">
            <h1>Men's Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <table class="table" id="tab">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of products">
                            <td>{{entry.title}}</td>
                            <td>{{entry.price}}</td>
                            <td>{{entry.image}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="apparelString === 'women'" class="container">
            <h1>Women's Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <table class="table" id="tab">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of products">
                            <td>{{entry.title}}</td>
                            <td>{{entry.price}}</td>
                            <td>{{entry.image}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="apparelString === 'neutral'" class="container">
            <h1>Neutral & Pride Apparel</h1>
            <button (click)="onSelectMain()">Back</button>
            <div class="p-3 m-0" style="text-align: center;">
                <table class="table" id="tab">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of products">
                            <td>{{entry.title}}</td>
                            <td>{{entry.price}}</td>
                            <td>{{entry.image}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>